/* ==========================================================================
   2. Layout styles
   ========================================================================== */
.l-wrapper {
	width: 100%;
}

.header {
	text-align: center;
}

.footer {
	text-align: center;
}