/* ==========================================================================
   2. Layout styles
   ========================================================================== */
.l-wrapper {
	margin: 0 auto;
	width: 80%;
}

.l-header {
	text-align: center;
}

.l-main {
	margin: 0 auto;
	max-width: @optimal-width;
}

.l-footer {
	text-align: center;
}