{{!< default}}
{{> header}}

<div class="l-wrapper theme-margin">
	
	<main class="l-main" role="main">
		{{#post}}
			<article class="{{post_class}} article" role="article">
				<header class="post-header">

					<h1 class="posttitle">
						{{{title}}}
					</h1>
				</header>

				<div class="post-content">
					{{content}}
				</div> <!-- end postcontent-->

		{{/post}}

		{{#if pagination}}
			<div class="pagination">
				{{pagination}}
			</div>
		{{/if}}
	</main>

</div>

{{> footer}}