/* ==========================================================================
   The Main stylesheet
   ========================================================================== */
/* ==========================================================================
   1. Base styles
   ========================================================================== */
html {
  height: 100%;
  max-height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}
p {
  margin-bottom: 1.5em;
}
a {
  text-decoration: none;
}
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
}
/* ==========================================================================
   2. Layout styles
   ========================================================================== */
.l-wrapper {
  margin: 0 auto;
  width: 80%;
}
.l-header {
  padding: 3em 1.5em 6em;
  text-align: center;
}
.l-main {
  margin: 0 auto;
  max-width: 830px;
}
.l-main img {
  max-width: 100%;
}
.l-footer {
  text-align: center;
  padding: 2.5em 0;
}
/* ==========================================================================
   3. Module styles
   ========================================================================== */
.article {
  font-size: 16px;
  color: #5c5c5c;
  margin: 3em 0;
  border-bottom: 1px solid #e8e8e9;
}
.post-tags {
  padding: 1.5em 0;
  font-style: italic;
}
/* ==========================================================================
   4. Theme specific style
   ========================================================================== */
body {
  background-color: #ffffff;
  color: #5c5c5c;
  font: 16px / 1.5em "PT Sans", Helvetica, Arial, sans-serif;
}
/* ==========================================================================
   5. Media Queries Styles
   ========================================================================== */
/* === Smaller than 900px === */
/* === Smaller than 500px === */
/* ==========================================================================
   End of file. Media queries should be the last thing here. Do not add stuff
   below this point, or it will probably fuck everything up.
   ========================================================================== */
