/* ==========================================================================
   The Main stylesheet
   ========================================================================== */
/* ==========================================================================
   1. Base styles
   ========================================================================== */
* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}
p {
  margin-bottom: 1.5em;
}
a {
  text-decoration: none;
}
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
}
/* ==========================================================================
   2. Layout styles
   ========================================================================== */
.l-wrapper {
  width: 100%;
}
.header {
  text-align: center;
}
.footer {
  text-align: center;
}
/* ==========================================================================
   3. Module styles
   ========================================================================== */
.article {
  font-size: 16px;
  color: #5c5c5c;
}
/* ==========================================================================
   4. Theme specific style
   ========================================================================== */
body {
  background-color: #ffffff;
}
/* ==========================================================================
   5. Media Queries Styles
   ========================================================================== */
/* === Smaller than 900px === */
@media only screen and (max-width: 900px) {
  
}
/* === Smaller than 500px === */@media only screen and (max-width: 500px) {
  
}
/* ==========================================================================
   End of file. Media queries should be the last thing here. Do not add stuff
   below this point, or it will probably fuck everything up.
   ========================================================================== */